body{
    background-color: #c3cfe2;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    main{
        background: white;
        border-radius: 1em;
        width: 23em;
        height: 29em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        section{
            padding: 2em;
            line-height: 2em;
        }
    }
}
img{
    width: 7em;
    border-radius: 5em;
    border:solid white 0.3em;
    position: absolute;
    z-index: 1;
    top: 14em;
    left: 7.5em;
}
.footer{
    background: #686de0;
    color: white;
    border-radius: 0 0 1em 1em;
    width: 23em;
    height: 7em;
    position: absolute;
    top: 18em;
    text-align: center;
    padding-top: 4em;
    strong{
        letter-spacing: 0.5em;
        line-height: 3em;
    }
}
p{
    opacity: 80%;
}